%%% -*- mode: erlang -*-

%% How to handle the json-schema-validator dependency?
%% Maybe leave it completely outside the control of rebar (as rebar3 does
%% not support raw repositories)?

{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
	{edown, {git, "https://github.com/uwiger/edown.git", {branch, "master"}}}
	,{java_erlang, {git, "https://github.com/fredlund/JavaErlang.git", {branch, "master"}}}
	,{mochijson2, {git, "https://github.com/bjnortier/mochijson2.git", {branch, "master"}}}
	,{jesse, {git, "https://github.com/klarna/jesse.git", {branch, "master"}}}
%%	,{json_schema_validator, {git, "https://github.com/fge/json-schema-validator.git"},[raw]}
       ]}.

{edoc_opts, [{doclet, edown_doclet}
            , {app_default, "http://www.erlang.org/doc/man"}
            , {new, true}
            , {packages, false}
            , {stylesheet, ""}   % don't copy stylesheet.css
            , {image, ""}        % don't copy erlang.png
            , {top_level_readme, {"./README.md", "https://github.com/fredlund/jsongen", "master"}}
            ]}.

%%{pre_hooks, [{compile, "_build/default/lib/json_schema_validator/gradlew -p _build/default/lib/json_schema_validator build"}
%%            ]}.

